@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
html {
  font-size: 62.5%;
}

.ohmyfood {
  margin: 0 0;
}
@media (min-width: 1250px) {
  .ohmyfood {
    margin: 0 5% 0 2%;
  }
}
@media (min-width: 1050px) {
  .ohmyfood {
    margin: 0 1% 0 1%;
  }
}
.ohmyfood a:any-link {
  text-decoration: none;
  color: #fff;
}

.ohmyfood-menu {
  background-color: #f2f2f2;
  margin: 0 0;
}
@media (min-width: 950px) {
  .ohmyfood-menu {
    margin: 0 1% 0 1%;
  }
}
.ohmyfood-menu a:any-link {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
}

title {
  font-family: "Shrikhand", cursive;
}

h1 {
  font-weight: 900;
  font-size: 21pt;
}

h2 {
  font-weight: 700;
  font-size: 18pt;
}

h3 {
  font-size: 12pt;
}

button {
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 6px 14px 0 #00000033;
  transition: 0.3s;
  border: #FF79DA;
  height: 55px;
  border-radius: 55px;
  color: #fff;
  padding: 0 35px;
  margin: 10px 0 35px 0;
}
button:hover {
  color: #fef;
  box-shadow: 0 8px 16px 0 #00000068;
  background: linear-gradient(#ff83dd, #985ede);
}
button .explore span {
  margin: 15px;
  font-weight: 600;
  font-size: 14pt;
}
button .order span {
  margin: 15px;
  font-weight: 600;
  font-size: 14pt;
}

.card-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 15%;
}

.card {
  height: 235px;
  width: 90%;
  font-size: 11px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 #00000033;
  transition: 0.3s;
  background-color: #cff;
  margin-bottom: 15px;
}
@media (min-width: 1250px) {
  .card {
    height: 335px;
  }
}

.card img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  width: 100%;
  max-height: 70%;
}

.card div.restaurant {
  border-radius: 0 0 15px 15px;
  width: 100%;
  height: 30%;
  margin-top: -19px;
  font-size: 11px;
  background-color: #fff;
  color: #000;
}
.card div.restaurant h3 {
  padding: 15px 0 0 5%;
  margin-bottom: 3px;
}
.card div.restaurant .location {
  padding: 0 0 0 5%;
  font-size: 12pt;
}

div.new {
  font-size: 11pt;
  background-color: #99E2D0;
  padding: 5px 25px;
  margin: -240px 0 215px 225px;
}

div.heart {
  font-size: 15pt;
  margin: -65px 0 45px 225px;
}
div.heart i {
  color: #000;
}
div.heart i:hover {
  visibility: hidden;
}

div.sol {
  font-size: 15pt;
  margin: -69px 0 45px 225px;
}
div.sol i {
  color: #9356DC;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
div.sol i:hover {
  opacity: 1;
}

.spinner {
  background: transparent;
  height: 100%;
  position: relative;
  visibility: hidden;
}
.spinner::after {
  content: "ohmyfood";
  position: absolute;
  top: 300px;
  width: 55px;
  height: 55px;
  left: calc(50% - 60px);
  border-radius: 95px;
  border-top: 36px solid #3c166a;
  border-left: 36px solid #9356DC;
  border-bottom: 36px solid #3c166a;
  border-right: 36px solid #9356DC;
  border-top-style: double;
  border-bottom-style: dotted;
  animation: spinner 0.6s ease-out 0.6s 5 none;
}

@keyframes spinner {
  from {
    visibility: visible;
  }
  to {
    transform: rotate(360deg);
  }
}
main.menu {
  background-color: #f2f2f2;
  padding-top: 5px;
  margin-top: -70px;
}
main.menu div.menu-item {
  display: inline-block;
  border-radius: 15px 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 #00000033;
  max-height: 100px;
  width: 90%;
  margin: 15px 5% 25px 5%;
  z-index: 1;
  opacity: 0;
  animation: itemload 800ms ease-in forwards;
}
main.menu div.menu-item:nth-child(2) {
  animation-delay: 200ms;
}
main.menu div.menu-item:nth-child(3) {
  animation-delay: 300ms;
}
main.menu div.menu-item:nth-child(4) {
  animation-delay: 400ms;
}
main.menu div.menu-item:nth-child(5) {
  animation-delay: 500ms;
}
main.menu div.menu-item:nth-child(6) {
  animation-delay: 600ms;
}
main.menu div.menu-item:nth-child(7) {
  animation-delay: 700ms;
}
main.menu div.menu-item:nth-child(8) {
  animation-delay: 800ms;
}
main.menu div.menu-item:nth-child(9) {
  animation-delay: 900ms;
}
main.menu div.menu-item:nth-child(10) {
  animation-delay: 1000ms;
}
main.menu div.menu-item:nth-child(11) {
  animation-delay: 1100ms;
}
main.menu div.menu-item:nth-child(12) {
  animation-delay: 1200ms;
}
main.menu div.menu-item:nth-child(13) {
  animation-delay: 1300ms;
}
main.menu div.menu-item:hover > div.item-price {
  transition: all 1s;
  left: 55%;
}
main.menu div.menu-item:hover > div.menu-tick {
  overflow: hidden;
  width: 25%;
  left: 75%;
  transition: all 850ms ease-in-out;
}
main.menu div.menu-item:hover > div.menu-tick > i {
  transform: rotate(360deg);
  margin-left: 0px;
  color: #fff;
  background-color: #99E2D0;
  z-index: auto;
}
main.menu div.menu-item:hover div.item-desc {
  transition: all 2s ease-in;
}
main.menu div.menu-item:hover div.item-desc > span#ox::after {
  content: "...";
}
main.menu div.menu-item:hover div.item-desc > span#egg::after {
  content: "...";
}
main.menu div.menu-item:hover div.item-desc > span#steak::after {
  content: "...";
}
main.menu div.menu-item:hover div.item-desc > span#soup::after {
  content: "...";
}
main.menu div.menu-item div.item-name {
  font-size: 16px;
  font-weight: 900;
  padding: 30px 0 0 10px;
}
main.menu div.menu-item div.item-name.line {
  padding: 16px 0 2px 10px;
}
main.menu div.menu-item div.item-name.nextline {
  margin: -19px 0 -2px;
  padding: 14px 0 0 10px;
}
main.menu div.menu-item div.item-desc {
  padding: 0 0 20px 10px;
  margin-top: -10px;
  font-size: 14px;
  font-weight: 400;
  max-width: 80%;
}
main.menu div.menu-item div.item-desc > span#ox {
  width: fit-content;
  visibility: visible;
}
main.menu div.menu-item div.item-desc > span#ox::after {
  content: "ed parsnips";
  width: 0%;
  visibility: visible;
  margin-left: 0px;
}
main.menu div.menu-item div.item-desc > span#egg {
  width: fit-content;
  visibility: visible;
}
main.menu div.menu-item div.item-desc > span#egg::after {
  content: " and orange";
  width: 0%;
  visibility: visible;
  margin-left: 0px;
}
main.menu div.menu-item div.item-desc > span#steak {
  width: fit-content;
  visibility: visible;
}
main.menu div.menu-item div.item-desc > span#steak::after {
  content: " seasoned veg...";
  width: 0%;
  visibility: visible;
  margin-left: 0px;
}
main.menu div.menu-item div.item-desc > span#soup {
  width: fit-content;
  visibility: visible;
}
main.menu div.menu-item div.item-desc > span#soup::after {
  content: "em artichoke";
  width: 0%;
  visibility: visible;
  margin-left: 0px;
}
@media (max-width: 359px) {
  main.menu div.menu-item div.item-desc > span#ox {
    width: fit-content;
    visibility: visible;
  }
  main.menu div.menu-item div.item-desc > span#ox::after {
    content: "...";
    width: 0%;
    visibility: visible;
    margin-left: 0px;
  }
  main.menu div.menu-item div.item-desc > span#egg {
    width: fit-content;
    visibility: visible;
  }
  main.menu div.menu-item div.item-desc > span#egg::after {
    content: "...";
    width: 0%;
    visibility: visible;
    margin-left: 0px;
  }
  main.menu div.menu-item div.item-desc > span#steak {
    width: fit-content;
    visibility: visible;
  }
  main.menu div.menu-item div.item-desc > span#steak::after {
    content: "...";
    width: 0%;
    visibility: visible;
    margin-left: 0px;
  }
  main.menu div.menu-item div.item-desc > span#soup {
    width: fit-content;
    visibility: visible;
  }
  main.menu div.menu-item div.item-desc > span#soup::after {
    content: "...";
    width: 0%;
    visibility: visible;
    margin-left: 0px;
  }
}
main.menu div.menu-item div.item-price {
  font-size: 16px;
  font-weight: 900;
  position: relative;
  top: 8px;
  left: 75%;
  margin: 0 0 0 10%;
}
main.menu div.menu-item div.menu-tick {
  height: 100px;
  border-radius: 0 15px 15px 0;
  width: 0%;
  background-color: #99E2D0;
  position: relative;
  bottom: 95px;
  left: 100%;
  opacity: 1;
  transition: all 2s;
}
main.menu div.menu-item div.menu-tick i {
  color: #f2f2f2;
  background-color: #f2f2f2;
  opacity: 1;
  position: relative;
  font-size: 21pt;
  top: 40%;
  left: 30%;
  z-index: -1;
  margin-left: 0px;
  transition: transform 1s linear;
}
@keyframes itemload {
  0% {
    opacity: 0.1;
    transform: translateY(35px);
  }
  50% {
    opacity: 0.35;
    transform: translateY(25px);
    overflow: hidden;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    overflow: hidden;
  }
}

nav {
  background-color: #f2f2f2;
  text-align: center;
}
nav .city {
  height: 25px;
  font-size: 15px;
  padding: 15px 0 5px;
  background-color: #e2dede;
}
nav .city i {
  margin-right: 5px;
}
nav div.city {
  border-top: 2px solid #beb5b5;
}
nav h2 {
  padding: 25px;
}
nav h3 {
  padding: 5px 35px 15px;
  font-weight: 400;
}
nav button {
  margin-bottom: 35px;
}
nav .send {
  margin: 10px 0;
}

.app-nav nav {
  background-color: #fff;
  text-align: left;
}
.app-nav nav h2 {
  padding: 5% 0 2px 5%;
}
.app-nav nav div {
  padding: 10px 0 15px;
}

.howto {
  display: flex;
  flex-direction: row-reverse;
}
.howto span.circ-pri {
  font-size: 10pt;
  background-color: #9356DC;
  color: #fff;
  padding: 1px 6px;
  border-radius: 15px;
  margin: 0 0 0 5%;
  align-self: center;
  z-index: 1;
}
.howto span.box-works {
  width: 90%;
  font-weight: 500;
  font-size: 11pt;
  padding: 25px 25px;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 #00000033;
  border-radius: 15px;
  margin: 0 5% 0 -2%;
}
.howto span.box-works a {
  color: #000;
}
.howto span.box-works i {
  margin-right: 25px;
  color: #acacac;
}
@media (min-width: 950px) {
  .howto span.box-works i {
    margin-left: 25px;
  }
}
.howto .box-works:hover {
  background-color: #f3e2f1;
}
.howto .box-works:hover i {
  color: #9356DC;
}

main.menu nav.menu-section {
  margin: 40px 0 0 5%;
}
main.menu nav.menu-section div.course {
  font-size: 15px;
  text-align: start;
}
main.menu nav.menu-section div.course a {
  text-decoration: none;
  color: #000;
}
main.menu nav.menu-section div.underline {
  color: #99E2D0;
  font-size: 15px;
  margin: -10px 0 0 0;
  text-align: start;
  font-weight: 900;
}

header div.top {
  background-color: #fff;
  padding: 8px 0;
}
header h1 {
  text-align: center;
}
header div.arrow {
  margin: -50px 0 30px 35px;
}
header div.arrow i {
  color: #555;
  font-size: 21pt;
}

header.header-image {
  width: 100%;
}
header.header-image div.restaurant-image img {
  height: 275px;
  object-fit: fill;
  width: 100%;
  margin: 0 0;
  padding: 0 0;
}
@media (min-width: 650px) {
  header.header-image div.restaurant-image img {
    height: 475px;
  }
}
@media (min-width: 950px) {
  header.header-image div.restaurant-image img {
    height: 575px;
  }
}
header.header-image div.restaurant-name {
  display: inline-block;
  background-color: #f2f2f2;
  height: 100px;
  position: relative;
  bottom: 70px;
  border-radius: 55px 55px 0 0;
  width: 100%;
  margin: 0 0;
}
header.header-image div.restaurant-name div.rating {
  font-family: "Shrikhand", cursive;
  font-weight: 900;
  font-size: 21pt;
  position: relative;
  top: 25px;
}
header.header-image div.restaurant-name div.rating span {
  float: left;
}
header.header-image div.restaurant-name div.rating span:nth-child(1) {
  padding-left: 10%;
}
header.header-image div.restaurant-name div.rating span:nth-child(2) {
  position: absolute;
  right: 10%;
}
header.header-image div.restaurant-name div.rating span:nth-child(2):hover i:nth-child(1) {
  opacity: 1;
}
header.header-image div.restaurant-name div.rating span:nth-child(2):hover i:nth-child(2) {
  opacity: 0;
}
header.header-image div.restaurant-name div.rating span:nth-child(2) i {
  transition: opacity 0.3s ease-in;
}
header.header-image div.restaurant-name div.rating span:nth-child(2) i:nth-child(1) {
  opacity: 0;
  color: #9356DC;
}
header.header-image div.restaurant-name div.rating span:nth-child(2) i:nth-child(2) {
  position: relative;
  bottom: 41px;
}
@media (max-width: 375px) {
  header.header-image div.restaurant-name div.rating span:nth-child(1) {
    padding-left: 3%;
  }
  header.header-image div.restaurant-name div.rating span:nth-child(2) {
    right: 1%;
  }
}
header.header-image div.restaurant-name div.rating span.plate {
  padding: 0 2% 0 6%;
}
header.header-image div.restaurant-name div.rating span.plate:nth-child(1) > span.plate {
  margin-left: -5%;
}
header.header-image div.restaurant-name div.rating span.plate:nth-child(2) {
  right: 8%;
}
@media (max-width: 450px) {
  header.header-image div.restaurant-name div.rating span.plate:nth-child(2) {
    right: 0%;
  }
}
header.header-image div.restaurant-name div.rating i {
  margin: 0 0 0 15%;
}

.restaurants {
  background-color: #f2f2f2;
  text-align: left;
  margin-bottom: -15px;
}
.restaurants h2 {
  padding: 15% 0 5px 5%;
}
@media (min-width: 1250px) {
  .restaurants {
    border-radius: 10px;
  }
}

footer {
  font-size: 11pt;
  background-color: #033;
  color: #fff;
  padding: 15px;
  margin-top: 15px;
}
footer h3 {
  font-weight: 300;
}
footer i {
  margin-right: 15px;
}
footer div {
  margin-bottom: 15px;
}
footer div .logo {
  margin-bottom: 25px;
}

.logo {
  font-family: "Shrikhand", cursive;
}

/*# sourceMappingURL=style.css.map */
