@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
html {
  font-size: 62.5%;
}

.ohmyfood {
  margin: 0 0;
}
.ohmyfood a:any-link {
  text-decoration: none;
  color: #fff;
}

.ohmyfood-menu {
  background-color: #f2f2f2;
  margin: 0 0;
}
.ohmyfood-menu a:any-link {
  text-decoration: none;
  color: #fff;
}

main.menu {
  background-color: #f2f2f2;
  padding-top: 5px;
  margin-top: -70px;
}
main.menu div.menu-item {
  border-radius: 15px 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 #00000033;
  transition: 0.3s;
  max-height: 200px;
  width: 90%;
  margin: 15px 5% 25px 5%;
}
main.menu div.menu-item div.item-name {
  font-size: 16px;
  font-weight: 900;
  padding: 20px 0 0 10px;
}
main.menu div.menu-item div.item-name.break {
  margin-top: -15px;
}
main.menu div.menu-item div.item-desc {
  padding: 0 0 20px 10px;
  margin-top: -10px;
  font-size: 14px;
  font-weight: 400;
}
main.menu div.menu-item div.item-price {
  font-size: 16px;
  font-weight: 900;
  position: relative;
  top: 8px;
  left: 85%;
}
main.menu div.menu-item div.menu-tick {
  height: fit-content;
  width: 20%;
  background-color: #99E2D0;
  position: absolute;
  left: 100%;
  visibility: hidden;
}

body {
  font-family: "Roboto", sans-serif;
}

title {
  font-family: "Shrikhand", cursive;
}

h1 {
  font-weight: 900;
  font-size: 21pt;
}

h2 {
  font-weight: 700;
  font-size: 18pt;
}

h3 {
  font-size: 12pt;
}

button {
  background: linear-gradient(#FF79DA, #9356DC);
  border: #FF79DA;
  height: 55px;
  border-radius: 55px;
  color: #fff;
  padding: 0 35px;
  margin: 10px 0 35px 0;
}
button .explore span {
  margin: 15px;
  font-weight: 600;
  font-size: 14pt;
}
button .order span {
  margin: 15px;
  font-weight: 600;
  font-size: 14pt;
}

.card-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 15%;
}

.card {
  height: 235px;
  width: 90%;
  font-size: 11px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 #00000033;
  transition: 0.3s;
  background-color: #cff;
  margin-bottom: 15px;
}

.card img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  width: 100%;
  max-height: 70%;
}

.card div.restaurant {
  border-radius: 0 0 15px 15px;
  width: 100%;
  height: 30%;
  margin-top: -19px;
  font-size: 11px;
  background-color: #fff;
  color: #000;
}
.card div.restaurant h3 {
  padding: 15px 0 0 5%;
  margin-bottom: 3px;
}
.card div.restaurant .location {
  padding: 0 0 0 5%;
  font-size: 12pt;
}

div.new {
  font-size: 11pt;
  background-color: #99E2D0;
  padding: 5px 25px;
  margin: -240px 0 215px 225px;
}

div.heart {
  font-size: 15pt;
  margin: -65px 0 45px 225px;
}
div.heart i {
  color: #000;
}
div.heart i:hover {
  background-color: #9356DC;
}

nav {
  background-color: #f2f2f2;
  text-align: center;
}
nav .city {
  height: 25px;
  font-size: 15px;
  padding: 15px 0 5px;
  background-color: #e2dede;
}
nav .city i {
  margin-right: 5px;
}
nav div.city {
  border-top: 2px solid #beb5b5;
}
nav h2 {
  padding: 25px;
}
nav h3 {
  padding: 5px 35px 15px;
  font-weight: 400;
}
nav button {
  margin-bottom: 35px;
}
nav .send {
  margin: 10px 0;
}

.app-nav nav {
  background-color: #fff;
  text-align: left;
}
.app-nav nav h2 {
  padding: 5% 0 2px 5%;
}
.app-nav nav div {
  padding: 10px 0 15px;
}

.howto {
  display: flex;
  flex-direction: row-reverse;
}
.howto span.circ-pri {
  font-size: 10pt;
  background-color: #9356DC;
  color: #fff;
  padding: 1px 6px;
  border-radius: 15px;
  margin: 0 0 0 5%;
  align-self: center;
}
.howto span.box-works {
  width: 90%;
  font-weight: 500;
  font-size: 11pt;
  padding: 25px 25px;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 #00000033;
  border-radius: 15px;
  margin: 0 5% 0 -2%;
}
.howto span.box-works a {
  color: #000;
}
.howto span.box-works i {
  margin-right: 25px;
  color: #acacac;
}
.howto .box-works:hover {
  background-color: #eed5eb;
}
.howto .box-works:hover i {
  color: #9356DC;
}

main.menu nav.menu-section {
  margin: 40px 0 0 5%;
}
main.menu nav.menu-section div.course {
  font-size: 15px;
  text-align: start;
}
main.menu nav.menu-section div.course a {
  text-decoration: none;
  color: #000;
}
main.menu nav.menu-section div.underline {
  color: #99E2D0;
  font-size: 15px;
  margin: -10px 0 0 0;
  text-align: start;
  font-weight: 900;
}

header div.top {
  background-color: #fff;
  padding: 8px 0;
}
header h1 {
  text-align: center;
}
header div.arrow {
  margin: -50px 0 30px 35px;
}
header div.arrow i {
  color: #555;
  font-size: large;
}

header.header-image {
  width: 105%;
  margin: 0 0 0 -10px;
}
header.header-image div.restaurant-image img {
  height: 275px;
  object-fit: fill;
  width: 100%;
  margin: 0 0;
  padding: 0 0;
}
header.header-image div.restaurant-name {
  background-color: #f2f2f2;
  height: 100px;
  position: relative;
  bottom: 70px;
  border-radius: 55px 55px 0 0;
  width: 100%;
  margin: 0 0;
}
header.header-image div.restaurant-name div.rating {
  line-break: strict;
  font-family: "Shrikhand", cursive;
  font-weight: 900;
  font-size: 21pt;
  position: relative;
  top: 25px;
}
header.header-image div.restaurant-name div.rating span {
  padding: 0 5% 0 8%;
  float: left;
}
header.header-image div.restaurant-name div.rating span:nth-child(2) {
  padding: 0 12% 0 0;
  float: right;
  margin: 0 0 0 -15px;
}
header.header-image div.restaurant-name div.rating span.plate {
  padding: 0 3% 0 6%;
}
header.header-image div.restaurant-name div.rating span.plate:nth-child(2) {
  padding: 0 6% 0 0;
  float: right;
  margin: 0 0 0 -15px;
}
header.header-image div.restaurant-name div.rating i {
  margin: 0 0 0 15%;
}

.restaurants {
  background-color: #f2f2f2;
  text-align: left;
  margin-bottom: -15px;
}
.restaurants h2 {
  padding: 15% 0 5px 5%;
}

footer {
  font-size: 11pt;
  background-color: #033;
  color: #fff;
  padding: 15px;
  margin-top: 15px;
}
footer h3 {
  font-weight: 300;
}
footer i {
  margin-right: 15px;
}
footer div {
  margin-bottom: 15px;
}
footer div .logo {
  margin-bottom: 25px;
}

.logo {
  font-family: "Shrikhand", cursive;
}

/*# sourceMappingURL=style.css.map */
