$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$spin-color: darken($color-primary, 35%);
$btnpress-pri: lighten($color-primary, 2%);
$btnpress-sec: lighten($color-secondary, 2%);
$footer-background: #033;
$restaurant-background: #f2f2f2;
$button-background: linear-gradient($color-secondary, $color-primary);
$button-hover: linear-gradient($btnpress-sec, $btnpress-pri);
$howto-background: #f3e2f1 ;
$content-pts: "...";


// maps
$select-desc: (
    ox:     "ed parsnips",
    egg:    " and orange",
    steak:  " seasoned veg...",
    soup:   "em artichoke"
);
@media  (max-width: 349px) {
    $select-desc: (
        ox:     "ed parsnips",
        egg:    " and orange",
        steak:  " seasoned veg...",
        soup:   "em ar..."
    );
}