main.menu {
    background-color: $restaurant-background;
    padding-top: 5px;
    margin-top: -70px;

    
    div.menu-item {
        border-radius: 15px 15px ;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 #00000033;
        max-height: 100px;
        width: 90%;
        margin: 15px 5% 25px 5%;
        z-index: 1;
        opacity: 0;
       
        @for $i from 2 to 14 {
            &:nth-child(#{$i}) {
                animation-delay: 100ms * $i;
            }
        }
        
        animation: itemload 800ms ease-in forwards;

        &:hover > div.item-price{
            transition: all 1s;
            left: 55%;
        }
       
        &:hover > div.menu-tick{
            & > i {            
                transform: rotate(360deg);
                margin-left: 0px;
                color: #fff;
                background-color: $color-tertiary;
                z-index: auto;
            }
            
            overflow: hidden;
            width: calc(25%);
            left: calc(75%);
        }
        
        &:hover  div.item-desc {   
            width: calc(80%);
            @media  (max-width: 540px) {
                width: calc(50%);
            }
        }
    
       
        div.item-name{
            font-size: 16px;
            font-weight: 900;
            padding: 30px 0 0 10px;
            &.line {
                padding: 16px 0 2px 10px;
            }
            &.nextline {
                margin: -19px 0 -2px;
                padding: 14px 0 0 10px;   
            }
        }
        div.item-desc {
            padding: 0 0 20px 10px;
            margin-top: -10px;
            font-size: 14px;
            font-weight: 400;
            max-width: 80%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        
        div.item-price {
            font-size: 16px;
            font-weight: 900;
            position: relative;
            top: 8px;
            left: 75%;  // transition to 55%
            margin: 0 0 0 10%;
        }
        div.menu-tick {
            height: 100px;
            border-radius:  0 15px  15px 0;
            width: 0px;
            background-color: $color-tertiary;
            position: relative;
            bottom: 95px;
            left: 100%;  //transition to 75%
            opacity: 1;
            transition: all 2s;            
    
            &  i {
                color: $restaurant-background;
                background-color: $restaurant-background;
                opacity: 1;
                position: relative;
                font-size: 21pt;
                top: 40%;
                left: 30%;
                z-index: -1;
                margin-left: 0px;
                transition: transform 1s linear;
            }
        }
    }
    
    @keyframes itemload {  
        0% {
            opacity: .1;
            transform: translateY(35px);
        }
     
        50% {
            opacity: .35;
            transform: translateY(25px);
            overflow: hidden;
        }
       
        100% {
            opacity: 1;
            transform: translateY(0);
            overflow: hidden;
        }
    }
}

