button.explore {
    background-color: $color-secondary;
    border: $color-secondary;
    height: 55px;
    border-radius: 55px;
    color: #fff;
    h3 {
        margin: 15px -15px;
        font-weight: 600;
    }
    
}