html {
    // 10px div by def of 16px
    font-size: 62.5%;
    
}
.ohmyfood {
    margin: 0 0;
    @media  (min-width: 1250px) {
        margin: 0 5% 0 2%;
    }
    @media  (min-width: 1050px) {
        margin: 0 1% 0 1%;
    }
    a:any-link {
        text-decoration: none;
        color: #fff;
      }
}
.ohmyfood-menu {
    background-color: $restaurant-background;
    margin: 0 0;
    @media  (min-width: 950px) {
        margin: 0 1% 0 1%;
    }
    a:any-link {
        text-decoration: none;
        color: #fff;
      }
}
