html {
    // 10px div by def of 16px
    font-size: 62.5%;
}
.ohmyfood {
    margin: 0 0;
    a:any-link {
        text-decoration: none;
        color: #fff;
      }
}
.ohmyfood-menu {
    background-color: $restaurant-background;
    margin: 0 0;
    a:any-link {
        text-decoration: none;
        color: #fff;
      }
}
main.menu {
    background-color: $restaurant-background;
    padding-top: 5px;
    margin-top: -70px;
    div.menu-item {
        border-radius: 15px 15px ;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 #00000033;
        transition: 0.3s;
        max-height: 200px;
        width: 90%;
        margin: 15px 5% 25px 5%;
        div.item-name{
            font-size: 16px;
            font-weight: 900;
            padding: 20px 0 0 10px;
            &.break {
                margin-top: -15px;
            }
        }
        div.item-desc {
            padding: 0 0 20px 10px;
            margin-top: -10px;
            font-size: 14px;
            font-weight: 400;
        }
        div.item-price {
            font-size: 16px;
            font-weight: 900;
            position: relative;
            top: 8px;
            left: 85%;
        }
        div.menu-tick {
            height: fit-content;
            width: 20%;
            background-color: $color-tertiary;
            position: absolute;
            left: 100%;
            visibility: hidden;
        }
    }
}