body {
    font-family: 'Roboto', sans-serif;
}
title {
    font-family: 'Shrikhand', cursive;
}
h1 {
    font-weight: 900;
    font-size: 21pt;
}
h2 {
    font-weight: 700;
    font-size: 18pt;
}

h3 {
    font-size: 12pt;
}
