.restaurants {
    background-color: $restaurant-background;
    text-align: left;
    margin-bottom: -15px; // cover menu "order" button margin over footer
    h2 {
        padding: 15% 0 5px 5%;
    }
    @media  (min-width: 1250px) {
        border-radius: 10px;
    }
}

