footer {
    font-size: 11pt;
    background-color: $footer-background;
    color: #fff;
    padding: 15px;

    h3 {
        font-weight: 300;
    }

    i {
        margin-right: 15px;
    }
    div {
        margin-bottom: 15px;
    }
    div .logo {
        margin-bottom: 25px;
    }
}