footer {
    font-size: 11pt;
    background-color: #033;
    color: #fff;
    padding: 15px;

    a:any-link {
        text-decoration: none;
        color: #fff;
      }

    h3 {
        font-weight: 300;
    }
}