nav {
    background-color: #f2f2f2;
    text-align: center;
    .city {
        height: 25px;
        font-size: 15px;
        padding: 15px 0 5px ;
        background-color: #e2dede;
        i {
            margin-right: 5px;
        }  
    } 
    div.city {
        border-top: 2px solid #beb5b5;
    }
    h2 {
        padding: 25px;
    }
    h3 {
        padding: 5px 35px 15px;
        font-weight: 400;
    }
    button {
        margin-bottom: 35px;
    }
    .send {
        margin: 10px 0;
    } 
}
.app-nav nav{
    background-color: #fff;
    text-align: left;
    h2 {
        padding: 5% 0 2px 5%;
    }
    div{
        padding: 10px 0 15px;
    }
}
.howto  {
    display: flex;
    flex-direction: row-reverse;
    span.circ-pri {
        font-size: 10pt;
        background-color: $color-primary;
        color: #fff;
        padding: 1px 6px;
        border-radius: 15px;
        margin: 0 0 0 5%;
        align-self: center;
        z-index: 1;
    }
    span.box-works {
        width: 90%;
        font-weight: 500;
        font-size: 11pt;
        padding: 25px 25px;
        background-color: $restaurant-background;
        box-shadow: 0 4px 8px 0 #00000033;
        border-radius: 15px;
        margin: 0 5% 0 -2%;
        a {
            color: #000;
        }
        i {
            margin-right: 25px;
            color: #acacac;
            @media  (min-width: 950px) {
                margin-left: 25px;
            }
        }
    }
    .box-works:hover {
        background-color: $howto-background;
        i {
            color: $color-primary;
        }
    }
}

main.menu nav.menu-section {
    margin: 40px 0 0 5%;
    div.course {
        font-size: 15px;
        text-align: start;
        a {
            text-decoration: none;
            color: #000;
        }
    }
    div.underline {
        color: $color-tertiary;
        font-size: 15px;
        margin: -10px 0 0 0;
        text-align: start;
        font-weight: 900;
    }
}


